
<div class="jumbotron">
  <h1 class="display-4">Saint Bernard EMR</h1>
  <p class="lead">Emergency transfer summary</p>
  <%= link_to "Patients", patients_path, class: "btn btn-primary btn-lg" %>
</div>