// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mb-10 {
  margin-bottom: 10px;
}

table tbody tr:hover {
  cursor: pointer;
  background-color: #CBEBF4;
}
